*.aux
*.bak
*.bbl
*.blg
*.class
*.classpath
*.dvi
*.gz
*.log
*.nav
*.out
*.pdf
*.prj
*.ps
*.sav
*.snm
*.synctex
*.synctex(busy)
*.toc
*.vrb
Tema 1 - Introduccion/Transparencias/workspaces/IoD/.metadata/
*.prj
*.sav
*.dvi
*.blg
Tema 3 - Capa de Persistencia/Transparencias/arqEmp-persistencia.synctex(busy)
Tema 1 - Introduccion/Transparencias/ae-tema1-introduccion.vrb
*.vrb
*.ps
Tema 2 - Capa de Negocio \[Dominio\]/Transparencias/ea-tema2-ddd.pdf
*.class