*.aux
*.bak
*.bbl
*.blg
*.class
*.classpath
*.dvi
*.gz
*.log
*.nav
*.out
*.pdf
*.prj
*.ps
*.sav
*.snm
*.synctex
*.synctex(busy)
*.toc
*.vrb
Tema 1 - Introduccion/Transparencias/workspaces/IoD/.metadata/