*.bak
*.aux
*.bbl
*.log
*.nav
*.out
*.snm
*.synctex
*.toc
*.prj
*.sav
*.dvi
*.blg
Tema 3 - Capa de Persistencia/Transparencias/arqEmp-persistencia.synctex(busy)
Tema 1 - Introduccion/Transparencias/ae-tema1-introduccion.vrb
Tema 0 - Presentacion/TransparenciasLatex/ae-tema0.pdf
Tema 1 - Introduccion/Transparencias/ae-tema1-introduccion.pdf
*.ps
*.vrb
